@import 'color';

.expand {
  width: 100%;
  height: 3px;
  margin: 0;
  background: $iBookColor;
  position: absolute;
}
.topNav{
  height:8vh;
  .logo{
    margin-right:5px;
  }
  .ibookBrand{
    color:$iBookColor;
  }
}
